*{
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
    }


    @import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
body{
    
    background-image:url(../Imagem/papelenvelhecido.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    

}

.header-jogo{
    width: 100%;
    height: 10%
    }
.main-jogo{
    height:80%;
    width: 100%
    
}


.fase-1{

    border:black solid 2px;
    padding: 20px;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 5px 5px 10px black;  
}

.img-fase-1{
    display: flex;
    justify-content: center;
}

.img-fase-1 img {
    height: 200px;
    width: 200px;
    margin-right:20px ;
}

.texto-fase-1 {
    font-size: 18px;
    text-align: justify;
    line-height: 2em;
    font-family: 'MedievalSharp', cursive;
}

.alternativas-fase-1{
    margin-top: 20px;
    line-height: 2em;
    list-style: none;
    font-family: 'MedievalSharp', cursive;
    font-weight: bold;
    text-shadow:black 5px 5px 10px ;


}

.play-fase-1{

    height: 40px;
    width: 200px;
    border-radius: 15px;
    cursor: pointer;
    background-color: burlywood;
    color: black;
    font-family: 'MedievalSharp', cursive;
    font-size: 20PX;
    box-shadow: 5px 5px 10px black;
    margin-top: 20PX;
}


.footer-jogo{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items:center;
    background-color:rgb(110, 87, 56);
    color: black;
}

